<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moda.moda.order.dao.OrderDao">

    <select id="selectOrdList" resultType="com.moda.moda.order.OrderVO">
        <!-- orderDao.selectOrdList - 주문 리스트 -->
        SELECT BASE.ORD_NO AS ordNo
            , BASE.USR_ID AS usrId
            , BASE.ORD_STAT AS ordStat
            , BASE.ORDR_ID AS ordrId
            , BASE.ORDR_NM AS ordrNm
            , BASE.ORDR_PHON AS ordrPhon
            , BASE.ORDR_EMAIL AS ordrEmail
            , BASE.ACQR_PHON AS acqrPhon
            , BASE.ACQR_NM AS acqrNm
            , BASE.ACQR_ADDR AS acqrAddr
            , BASE.ACQR_ADDR_DTL AS acqrAddrDtl
            , BASE.ACQR_EMAIL AS acqrEmail
            , BASE.PAY_WAY AS payWay
            , BASE.PAY_MNY AS payMny
            , BASE.REQ_MEMO AS reqMemo
            , BASE.ORD_DATE AS ordDate
            , BASE.BILL_NUM AS billNum
            , BASE.REVIEW_YN AS reviewYn
            , DTL.ORD_DTL_NO AS ordDtlNo
            , DTL.PROD_NAME AS prodName
            , DTL.PROD_CODE AS prodCode
            , DTL.PROD_QTY AS prodQty
        FROM  ORD_BASE BASE
            , ORD_DTL DTL
        WHERE 1=1
        AND BASE.ORD_NO = DTL.ORD_NO
        ORDER BY BASE.ORD_NO ASC;
    </select>

    <!-- 주문 -->
    <select id="selectOrdOne" resultType="com.moda.moda.order.OrderVO">
        SELECT *
        FROM  ORD_BASE
        WHERE 1=1
        AND ORD_NO = #{ordNo}
    </select>

    <insert id="insertOrd">
        INSERT INTO ORD_BASE
        ( ORD_NO
        , USR_ID
        , ORD_STAT
        , ORDR_ID
        , ORDR_NM
        , ORDR_PHON
        , ORDR_EMAIL
        , ACQR_PHON
        , ACQR_NM
        , ACQR_ADDR
        , ACQR_ADDR_DTL
        , ACQR_EMAIL
        , PAY_WAY
        , PAY_MNY
        , REQ_MEMO
        , ORD_DATE
        , BILL_NUM
        , PROD_CODE
        , REVIEW_YN
        ) VALUES
            ( #{ordNo}
            , #{usrId}
            , #{ordStat}
            , #{ordrId}
            , #{ordrNm}
            , #{ordrPhon}
            , #{ordrEmail}
            , #{acqrPhon}
            , #{acqrNm}
            , #{acqrAddr}
            , #{acqrAddrDtl}
            , #{acqrEmail}
            , #{payWay}
            , #{payMny}
            , #{reqMemo}
            , NOW()
            , #{billNum}
            , #{prodCode}
            , 'N')
    </insert>

    <update id="updateOrd">
        UPDATE ORD_BASE
        SET USR_ID  = #{usrId}
          , ORD_STAT  = #{ordStat}
          , ORDR_ID  = #{ordrId}
          , ORDR_NM  = #{ordrNm}
          , ORDR_PHON  = #{ordrPhon}
          , ORDR_EMAIL  = #{ordrEmail}
          , ACQR_PHON  = #{acqrPhon}
          , ACQR_NM  = #{acqrNm}
          , ACQR_ADDR  = #{acqrAddr}
          , ACQR_ADDR_DTL  = #{acqrAddrDtl}
          , ACQR_EMAIL  = #{acqrEmail}
          , PAY_WAY  = #{payWay}
          , PAY_MNY  = #{payMny}
          , REQ_MEMO  = #{reqMemo}
          , ORD_DATE  = NOW()
          , BILL_NUM = #{billNum}
        WHERE 1=1
          AND ORD_NO = #{ordNo}
    </update>

    <delete id="deleteOrd">
        DELETE FROM ORD_BASE
        WHERE 1=1
        AND ORD_NO = #{ordNo}
    </delete>


    <!--  dtl 주문  -->
    <select id="selectOrdDtlOne" resultType="com.moda.moda.order.OrderVO">
        SELECT *
        FROM  ORD_DTL
        WHERE 1=1
        AND ORD_NO = #{ordNo}
    </select>

    <insert id="insertOrdDtl">
        INSERT INTO ORD_DTL
        ( USR_ID
        , ORD_NO
        , PROD_NAME
        , PROD_CODE
        , PROD_QTY
        ) VALUES
        ( #{usrId}
        , #{ordNo}
        , #{prodName}
        , #{prodCode}
        , #{prodQty})
    </insert>

    <!-- 장바구니 -->
<!--    <select id="ordCartSelect" resultType="orderVo">-->
<!--        SELECT ORD.SALE_BOARD_SEQ AS saleBoardSeq-->
<!--             , SALE.GOODS_PRC AS prodPrice-->
<!--             , GOODS.GOODS_NM AS prodName-->
<!--             , GOODS.GOODS_CD AS prodCode-->
<!--        FROM ORD_BASKET ORD-->
<!--           , SALE_BOARD SALE-->
<!--           , GOODS_INFO GOODS-->
<!--        WHERE 1=1-->
<!--          AND ORD.SALE_BOARD_SEQ = SALE.SALE_BOARD_SEQ-->
<!--          AND ORD.GOODS_CD = GOODS.GOODS_CD-->
<!--          AND ORD.ORD_BASKET_SEQ = ${ordBasketSeq}-->

<!--    <select id="ordCartSelect" resultType="com.moda.moda.order.OrderVO">-->
<!--        SELECT ORD.SALE_BOARD_SEQ AS saleBoardSeq-->
<!--             , SALE.GOODS_PRC AS prodPrice-->
<!--             , GOODS.GOODS_NM AS prodName-->
<!--             , GOODS.GOODS_CD AS prodCode-->
<!--        FROM ORD_BASKET ORD-->
<!--           , SALE_BOARD SALE-->
<!--           , GOODS_INFO GOODS-->
<!--        WHERE 1=1-->
<!--          AND ORD.SALE_BOARD_SEQ = SALE.SALE_BOARD_SEQ-->
<!--          AND ORD.GOODS_CD = GOODS.GOODS_CD-->
<!--          AND ORD.ORD_BASKET_SEQ = ${ordBasketSeq}-->
<!--    </select>-->


<!--    <select id="selectCartList" resultType="com.moda.moda.order.OrderVO">-->
<!--        SELECT CART.CART_NUM AS cartNum-->
<!--        , CART.USR_ID AS usrId-->
<!--        , CART.CART_AMOUNT AS cartAmount-->
<!--        , PROD.PROD_IMG AS prodImg-->
<!--        , PROD.PROD_IMG_DTL AS prodImgDtl-->
<!--        , PROD.PROD_CODE AS prodCode-->
<!--        , PROD.PROD_PRICE AS prodPrice-->
<!--        , PROD.PROD_DESC AS prodDesc-->
<!--        FROM CART CART-->
<!--        , PRODUCT PROD-->
<!--        WHERE 1=1-->
<!--        AND CART.PROD_CODE = PROD.PROD_CODE-->
<!--        AND CART.USR_ID = #{usrId}-->
<!--    </select>-->

<!--    <insert id="insertCart">-->
<!--        INSERT INTO ORD_BASKET-->
<!--        ( USR_ID-->
<!--        , GOODS_QTY-->
<!--        , GOODS_CD-->
<!--        , ENTR_NO-->
<!--        , RGST_DATE-->
<!--        , USE_YN-->
<!--        , SALE_BOARD_SEQ-->
<!--        ) VALUES-->
<!--            ( #{usrId}-->
<!--            , #{goodsQty}-->
<!--            , #{goodsCd}-->
<!--            , #{entrNo}-->
<!--            , NOW()-->
<!--            , 'Y'-->
<!--            , #{saleBoardSeq})-->
<!--    </insert>-->

<!--    <update id="updateCart">-->
<!--        UPDATE ORD_BASKET-->
<!--        SET USE_YN  = 'N'-->
<!--        WHERE 1=1-->
<!--          AND ORD_BASKET_SEQ = #{ordBasketSeq}-->
<!--    </update>-->

<!--    <delete id="deleteCart">-->
<!--        DELETE FROM ORD_BASKET-->
<!--        WHERE ORD_BASKET_SEQ = #{ordBasketSeq}-->
<!--    </delete>-->
</mapper>