<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moda.adm.qna.dao.QnaDao">
    <!-- qna 테이블 전체 컬럼 -->
    <sql id="qnaColumns">
        qna_num
        , u_id
        , qna_Title
        , qna_q
        , qna_a
        , qna_stat
        , qna_date
    </sql>

    <!-- 게시글 상세정보 조회 -->
    <select id="findByNum" parameterType="long" resultType="com.moda.adm.qna.QnaDto">
        SELECT
        <include refid="qnaColumns" />
        FROM
        qna
        WHERE
        qna_num = #{value}
    </select>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.moda.adm.qna.QnaSearch">
        UPDATE qna
        SET
            qna_a = #{qnaA}
          , qna_stat = 1
        WHERE
            qna_num = #{qnaNum}
    </update>

    <!-- 게시글 리스트 조회 -->
    <select id="findAll" resultType="com.moda.adm.qna.QnaDto">
        SELECT <include refid="qnaColumns" />
        FROM qna
        WHERE qna_stat = 0
        ORDER BY qna_num ASC
        LIMIT #{offset}, #{recordSize}
    </select>

    <select id="findById" parameterType="string" resultType="com.moda.adm.qna.QnaDto">
        SELECT
            <include refid="qnaColumns" />
        FROM
            qna
        WHERE
            u_id = #{value}
        ORDER BY
            qna_num ASC
    </select>

    <insert id="insert" parameterType="com.moda.adm.qna.QnaSearch">
        INSERT INTO qna
        (U_ID,
         QNA_TITLE,
         QNA_Q,
         QNA_STAT)
        VALUES
            (#{uId},
             #{qnaTitle},
             #{qnaQ},
             0);
    </insert>

    <select id="count" parameterType="com.moda.adm.search.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            qna
    </select>

</mapper>