<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.moda.moda.user.dao.UserDao">
    <select id="selectUserList" resultType="UserVO">
        SELECT USR_BASE_SEQ AS userBaseSeq,
                USR_ID AS userId,
                USR_NM AS userNm
        FROM USR_BASE;
    </select>
</mapper>