<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>문의 상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>문의 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>문의 관리</span> <span>문의 리스트</span> <span>상세정보</span></p>
  </div>

  <div class="content">
    <section>
      <form id="updateForm" method="post" autocomplete="off">
        <table class="tb tb_row">
          <colgroup>
            <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
          </colgroup>
          <tbody>
          <tr>
            <th scope="row">작성자</th>
            <td th:text="${qna.UId}"></td>

            <th scope="row">등록일</th>
            <td  colspan="3" th:text="${#temporals.format(qna.qnaDate, 'yyyy-MM-dd')}"></td>
          </tr>
          <tr>
            <th>제목</th>
            <td  colspan="3" th:text="${qna.qnaTitle}"></td>
          </tr>

          <tr>
            <th>질문</th>
            <td colspan="3" th:text="${qna.qnaQ}"></textarea></td>
          </tr>

          <tr>
            <th>답변</th>
            <td colspan="3"><textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
          </tr>
          </tbody>
        </table>
      </form>
      <p class="btn_set">
        <button type="button" id="updateBtn" onclick="updateQna();" class="btns btn_st3 btn_mid">답변</button>
        <a th:href="@{/adm/qna.do}" class="btns btn_bdr3 btn_mid">뒤로</a>
      </p>
    </section>
  </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/
     // 답변 하기(수정)
     function updateQna() {
       const form = document.getElementById('updateForm');
       const aContent = form.content;

       if(aContent == null){

       }else{
         document.getElementById('updateBtn').disabled = true;
         form.action = '/adm/qnaupdate.do';
         form.submit();
       }
    }

    /*]]>*/
  </script>
</th:block>
</html>