<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>moda</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>문의 답변</h3>
    <p class="path"><strong>현재 위치 :</strong><span>관리</span><span>문의</span><span>답변</span></p>
  </div>

  <div class="content">
    <section>
      <form id="updateForm" method="get" autocomplete="off">
        <input type="hidden" id="qnaNum" name="qnaNum" th:value="${qna.qnaNum}"/>
        <table class="tb tb_row">
          <colgroup>
            <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
          </colgroup>
          <tbody>
          <tr>
            <th scope="row">작성자</th>
            <td th:text="${qna.UId}"></td>

            <th scope="row">등록일</th>
            <td  colspan="3" th:text="${#temporals.format(qna.qnaDate, 'yyyy-MM-dd')}"></td>
          </tr>
          <tr>
            <th>제목</th>
            <td  colspan="3" th:text="${qna.qnaTitle}"></td>
          </tr>

          <tr>
            <th>질문</th>
            <td colspan="3" th:text="${qna.qnaQ}"></td>
          </tr>

          <tr>
            <th>답변</th>
            <td colspan="3"><textarea id="qnaA" name="qnaA" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
          </tr>
          </tbody>
        </table>
      </form>
      <p class="btn_set">
        <button type="button" id="updateBtn" onclick="updateQna();" class="btns btn_st3 btn_mid">답변</button>
        <a th:href="@{/adm/qna.do}" class="btns btn_bdr3 btn_mid">뒤로</a>
      </p>
    </section>
  </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/
    function updateQna() {
      const form = document.getElementById('updateForm');
      const aContent = form.qnaA;

      if (aContent.value.trim() !== '') {
        document.getElementById('updateBtn').disabled = true;
        form.action = '/adm/qnaupdate.do';
        form.submit();
      } else {
        console.log('aContent가 null 입니다.');
      }
    }

    /*]]>*/
  </script>
</th:block>
</html>