<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>moda</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>상품 작성</h3>
        <p class="path"><strong>현재 위치 :</strong><span>관리</span><span>상품</span><span>상품 작성</span></p>
    </div>

    <div class="content">
        <section>
            <form id="saveForm" method="post" autocomplete="off" enctype="multipart/form-data">
                <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" id="prodCode" name="prodCode" th:if="${pvo != null}" th:value="${pvo.prodCode}" />

                <!--/* 삭제 처리할 파일 번호 */-->
                <input type="hidden" id="removeFileIds" name="removeFileIds" />

                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                    </colgroup>
                    <tbody>

                    <tr>
                        <th scope="row">공지글</th>
                        <td><span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"> 설정</label></span></td>

                        <th scope="row">등록일</th>
                        <td colspan="3"><input type="text" id="prodDete" name="prodDete" readonly /></td>
                    </tr>

                    <tr>
                        <th>상품명 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="text" id="prodName" name="prodName" maxlength="50" placeholder="상품명을 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th>수량 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="text" id="prodStock" name="prodStock" maxlength="50" placeholder="수량을 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th>내용 <span class="es">필수 입력</span></th>
                        <td colspan="3"><textarea id="prodDesc" name="prodDesc" placeholder="내용을 입력해 주세요." rows="7" cols="50"></textarea>
                    </tr>

                    <tr>
                        <th>가격 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="text" id="prodPrice" name="prodPrice" maxlength="50" placeholder="가격을 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th>카테고리 <span class="es">필수 입력</span></th>
                        <td>
                            <select id="cateCode" name="cateCode">
                                <option value="" selected disabled>카테고리를 선택하세요</option>
                                <option th:each="cvo : ${cvo}" th:value="${cvo.catgryNm}" th:text="${cvo.catgryNm}"></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>첨부파일</th>
                        <td colspan="3">
                            <div class="file_list">
                                <div>
                                    <div class="file_input">
                                        <input type="text" readonly />
                                        <label> 첨부파일
                                            <input type="file" name="files" onchange="selectFile(this);" />
                                        </label>
                                    </div>
                                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                                    <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <p class="btn_set">
                <button type="button" id="saveBtn" onclick="savePost();" class="btns btn_st3 btn_mid">저장</button>
                <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</button>
            </p>
        </section>
    </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        // 파일 삭제 처리용 익명 함수
        const removeFileId = (function() {
            const ids = [];
            return {
                add(id) {
                    if (ids.includes(id)) {
                        return false;
                    }
                    ids.push(id);
                },
                getAll() {
                    return ids;
                }
            }
        }());


        document.addEventListener('DOMContentLoaded', function () {
            renderPostInfo();
        });

        // 게시글 상세정보 렌더링
        function renderPostInfo() {
            const post = [[ ${pvo} ]];

            if ( !post ) {
                initCreatedDate();
                return false;
            }

            const form = document.getElementById('saveForm');
            const fields = ['prodDete', 'prodName', 'prodStock', 'prodDesc', 'prodPrice', 'cateCode'];
            form.prodDete.value = dayjs(post.prodDete).format('YYYY-MM-DD HH:mm');

            fields.forEach(field => {
                form[field].value = post[field];
            })
        }


        // 등록일 초기화
        function initCreatedDate() {
            document.getElementById('prodDete').value = dayjs().format('YYYY-MM-DD');
        }


        // 게시글 저장(수정)
        function savePost() {
            const form = document.getElementById('saveForm');
            const fields = [form.prodName, form.prodStock, form.prodDesc, form.prodPrice, form.cateCode];
            const fieldNames = ['상품명', '수량', 'prod_desc', '가격', '카테고리'];

            for (let i = 0, len = fields.length; i < len; i++) {
                isValid(fields[i], fieldNames[i]);
            }

            new URLSearchParams(location.search).forEach((value, key) => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = key;
                input.value = value;
                form.append(input);
            })

            document.getElementById('saveBtn').disabled = true;
            // form.noticeYn.value = form.isNotice.checked;
            form.removeFileIds.value = removeFileId.getAll().join();
            form.action = [[ ${pvo == null} ]] ? '/adm/product/addProduct.do' : '/adm/product/updateProd.do';
            form.submit();
        }


        // 게시글 리스트 페이지로 이동
        function goListPage() {
            const queryString = new URLSearchParams(location.search);
            queryString.delete('code');
            location.href = '/adm/product/prodList.do' + '?' + queryString.toString();
        }


        // 파일 선택
        function selectFile(element, id) {

            const file = element.files[0];
            const filename = element.closest('.file_input').firstElementChild;

            // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
            if ( !file ) {
                filename.value = '';
                return false;
            }

            // 2. 파일 크기가 10MB를 초과하는 경우
            const fileSize = Math.floor(file.size / 1024 / 1024);
            if (fileSize > 10) {
                alert('10MB 이하의 파일로 업로드해 주세요.');
                filename.value = '';
                element.value = '';
                return false;
            }

            // 3. 파일명 지정
            filename.value = file.name;

            // 4. 삭제할 파일 id 추가
            if (id) {
                removeFileId.add(id);
            }
        }


        // 파일 추가
        function addFile() {
            const fileDiv = document.createElement('div');
            fileDiv.innerHTML =`
                    <div class="file_input">
                        <input type="text" readonly />
                        <label> 첨부파일
                            <input type="file" name="files" onchange="selectFile(this);" />
                        </label>
                    </div>
                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                `;
            document.querySelector('.file_list').appendChild(fileDiv);
        }


        // 파일 삭제
        function removeFile(element, id) {

            // 1. 삭제할 파일 id 추가
            if (id) {
                removeFileId.add(id);
            }

            // 2. 파일 영역 초기화 & 삭제
            const fileAddBtn = element.nextElementSibling;
            if (fileAddBtn) {
                const inputs = element.previousElementSibling.querySelectorAll('input');
                inputs.forEach(input => input.value = '')
                return false;
            }
            element.parentElement.remove();
        }

        /*]]>*/
    </script>
</th:block>
</html>