<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>카테고리 리스트</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>카테고리 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>카테고리 관리</span>
  </div>

  <div class="content" style="width: 1250px; height: 1200px;">
    <section>
      <!--/* 검색 */-->
      <div class="search_box">
        <form method="post" action="/adm/cate/admCateRegisterAct.do" onsubmit="return fn_submitCheck()">
          <input type="hidden" id="upperTxtCnt" name="upperTxtCnt" value="0">
          <input type="hidden" id="underTxtCnt" name="underTxtCnt" value="0">
          <div class="category-container">
            <div class="upper-category">
              <div class="items_header">
                <span>분류 코드</span>
                <span>분류 명</span>
                <span>비고 내용</span>
                <span>사용 여부</span>
                <span>삭제</span>
              </div>
              <div class="items">
                <th:block th:each="obj, countObj : ${list}">
                  <div th:if="${obj.classLvlCd eq '1'}" th:attr="data-catgryCd=${obj.catgryCd}" onclick="fn_a(this.getAttribute('data-catgryCd'))">
                    <ul>
                      <li><input type="text" th:name="'upCatgryCd'+${countObj.index}" th:value="${obj.catgryCd}" /></li>
                      <li><input type="text" th:name="'upCatgryNm'+${countObj.index}" th:value="${obj.catgryNm}" /></li>
                      <li><input type="text" th:name="'upNoteCont'+${countObj.index}" th:value="${obj.noteCont}" /></li>
                      <input type="hidden" th:name="'upCateType'+${countObj.index}" th:value="'cateUpdate'"/>
                      <input type="hidden" th:name="'upGoodsCataSeq'+${countObj.index}" th:value="${obj.goodsCataSeq}"/>
                      <input type="hidden" th:name="'upUprClassCd'+${countObj.index}" th:value="'upperclass'"/>
                      <li>
                        <select th:name="'upUseYn'+${countObj.index}">
                          <option th:selected="${obj.useYn eq 'Y'}" value="Y">사용</option>
                          <option th:selected="${obj.useYn eq 'N'}" value="N">사용안함</option>
                        </select>
                      </li>
                      <li>
                        <input type="button" class="btn_del"
                               value="삭제하기"
                               th:attr="onclick='fnDel(this, \'' + ${obj.goodsCataSeq} + '\', \'' + ${obj.classLvlCd} + '\');'"/>
                      </li>
                    </ul>
                  </div>
                </th:block>
              </div>
              <div class="items">
                <span class="plus" id="upper_btn_add">+</span>
              </div>
            </div>
            <div class="under-category">
              <div class="items_header">
                <span>분류 코드</span>
                <span>분류 명</span>
                <span>비고 내용</span>
                <span>사용 여부</span>
                <span>삭제</span>
              </div>
              <div class="items">
                <th:block th:each="obj, countObj : ${underList}">
                  <div th:if="${obj.classLvlCd eq '2'}">
                    <ul>
                      <li><input type="text" th:name="'unCatgryCd'+${countObj.index}" th:value="${obj.catgryCd}" /></li>
                      <li><input type="text" th:name="'unCatgryNm'+${countObj.index}" th:value="${obj.catgryNm}" /></li>
                      <li><input type="text" th:name="'unNoteCont'+${countObj.index}" th:value="${obj.noteCont}" /></li>
                      <input type="hidden" th:name="'unCateType'+${countObj.index}" th:value="'cateUpdate'"/>
                      <input type="hidden" th:name="'unGoodsCataSeq'+${countObj.index}" th:value="${obj.goodsCataSeq}"/>
                      <input type="hidden" th:name="'unUprClassCd'+${countObj.index}" th:value="${obj.uprClassCd}"/>
                      <li>
                        <select th:name="'unUseYn'+${countObj.index}">
                          <option th:selected="${obj.useYn eq 'Y'}" value="Y">사용</option>
                          <option th:selected="${obj.useYn eq 'N'}" value="N">사용안함</option>
                        </select>
                      </li>
                      <li>
                        <input type="button" class="btn_del"
                               value="삭제하기"
                               th:attr="onclick='fnDel(this, \'' + ${obj.goodsCataSeq} + '\', \'' + ${obj.classLvlCd} + '\');'"/>
                      </li>
                    </ul>
                  </div>
                </th:block>
              </div>
              <div class="items">
                <span class="plus" id="under_btn_add">+</span>
              </div>
            </div>
          </div>
          <div class="save-button">
            <input type="submit" value="저장"/>
          </div>
        </form>
      </div>
</section>
      <script>
        let upperTextCnt = 0 + Number([[${upperListSize}]]);
        let underTextCnt = 0 + Number([[${underListSize}]]);
        let btnCnt = 0;
        let nmAdd = '';
        let classCd = '';
        let underCnt = 0;
        let uppercode = ''

        document.addEventListener("DOMContentLoaded", () => {
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          uppercode = urlParams.get('catgryCd');
          let upper_btn_add = document.querySelector('#upper_btn_add');
          let under_btn_add = document.querySelector('#under_btn_add');
          let upper_items_area = document.querySelector('.upper-category .items'); // 수정된 부분
          let under_items_area = document.querySelector('.under-category .items'); // 수정된 부분
          let htmlInput = fn_getHtmlInput();

          upper_btn_add.addEventListener('click', ()=>{
            btnCnt = upperTextCnt;
            nmAdd = 'up';
            classCd = '1';
            uppercode ='upperclass'
            upper_items_area.innerHTML += fn_getHtmlInput();
            upperTextCnt++;
          });

          under_btn_add.addEventListener('click', ()=>{
            btnCnt = underTextCnt;
            nmAdd = 'un';
            classCd = '2';
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            uppercode = urlParams.get('catgryCd');
            under_items_area.innerHTML += fn_getHtmlInput();
            underTextCnt++;
          });
        });


        /*function sendDataToServer() {
          let dataArray = [];

          // Upper category items
          $('.upper-category .items > div').each(function (index) {
            let obj = {};
            obj.catgryCd = $(this).find('[name^="upCatgryCd"]').val();
            obj.catgryNm = $(this).find('[name^="upCatgryNm"]').val();
            obj.noteCont = $(this).find('[name^="upNoteCont"]').val();
            obj.cateType = $(this).find('[name^="upCateType"]').val();
            obj.goodsCataSeq = $(this).find('[name^="upGoodsCataSeq"]').val();
            obj.useYn = $(this).find('[name^="upUseYn"]').val();
            console.log(obj.catgryCd + obj.catgryNm);
            dataArray.push(obj);
          });

          // Under category items
          $('.under-category .items > div').each(function (index) {
            let obj = {};
            obj.catgryCd = $(this).find('[name^="unCatgryCd"]').val();
            obj.catgryNm = $(this).find('[name^="unCatgryNm"]').val();
            obj.noteCont = $(this).find('[name^="unNoteCont"]').val();
            obj.cateType = $(this).find('[name^="unCateType"]').val();
            obj.goodsCataSeq = $(this).find('[name^="unGoodsCataSeq"]').val();
            obj.useYn = $(this).find('[name^="unUseYn"]').val();
            dataArray.push(obj);
          });

          // Json 데이터로 변환
          let pvo = JSON.stringify(dataArray);

          // 서버로 데이터 보내기
          $.ajax({
                      type: "POST",
                      url: "/adm/cate/admCateRegisterAct.do",
                      contentType: 'application/json; charset=UTF-8',
                      data: pvo,
                      success: function () {
                        console.log("Data sent successfully!");
                      },
                      error: function () {
                        console.error("Failed to send data");
                      }
                    });
        }*/

        function fn_getHtmlInput(){
          let html = ''
                  +'<div><ul>'
                  +   '<li><input type="text" id="'+nmAdd+'CatgryCd'+btnCnt+'" name="'+nmAdd+'CatgryCd'+btnCnt+'" placeholder="분류코드"/></li>'
                  +   '<li><input type="text" name="'+nmAdd+'CatgryNm'+btnCnt+'" placeholder="분류명"/></li>'
                  +   '<li><input type="text" name="'+nmAdd+'NoteCont'+btnCnt+'" placeholder="비고내용"/></li>'
                  +   '<input type="hidden" name="'+nmAdd+'ClassLvlCd'+btnCnt+'" value="'+classCd+'"/>'
                  +   '<input type="hidden" name="'+nmAdd+'CateType'+btnCnt+'" value="cateInsert"/>'
                  +   '<input type="hidden" name="'+nmAdd+'UprClassCd'+btnCnt+'" value="'+uppercode+'"/>'
                  +   '<li>'
                  +      '<select name="'+nmAdd+'UseYn'+btnCnt+'">'
                  +         '<option value="Y">사용</option>'
                  +         '<option value="N">사용안함</option>'
                  +      '</select>'
                  +   '</li>'
                  +   '<li><input type="button" class="btn_del" value="삭제하기" onclick="fnDel(this);" /></li>'
                  +'</ul></div>'
          ;
          return html;
        }
        function fn_a(catgryCd){
          if(catgryCd !== uppercode){location.href = '/adm/cate/admCateList.do?catgryCd='+catgryCd;}


        }

        function fnDel(_this, goodsCataSeq , classLvlCd){
          if(goodsCataSeq == null){
            _this.parentNode.parentNode.parentNode.remove();
          }else {
            if(classLvlCd == "1" && 0 < underTextCnt){
              alert("하위 카테고리가 있습니다.");
            }else if(confirm('상품을 정말 삭제 하시겠습니까?')){
              _this.parentNode.parentNode.parentNode.remove();
              location.href = '/adm/cate/admCateRemoveAct.do?goodsCataSeq='+goodsCataSeq + '&catgry=' + uppercode;
            }
          }
        }
        function fn_submitCheck(){
          /* debugger; */
          let upperTextCnt_add = document.querySelector('#upperTxtCnt');
          let underTextCnt_add = document.querySelector('#underTxtCnt');

          upperTextCnt_add.value = upperTextCnt;
          underTextCnt_add.value = underTextCnt;

          return true;
        }
  </script>
  </div>
</th:block>
</html>