<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>카테고리 리스트</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>카테고리 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>카테고리 관리</span>
  </div>

  <div class="content">
    <section>
      <!--/* 검색 */-->
      <div class="search_box">
        <form method="post" action="/adm/cate/admCateRegisterAct.do" onsubmit="return fn_submitCheck()">
          <input type="hidden" id="upperTxtCnt" name="upperTxtCnt" value="0">
          <input type="hidden" id="underTxtCnt" name="underTxtCnt" value="0">
          <div class="category-container">
            <div class="upper-category">
              <div class="items_header">
                <span>분류 코드</span>
                <span>분류 명</span>
                <span>비고 내용</span>
                <span>사용 여부</span>
                <span>삭제</span>
              </div>
              <div class="items">
                <th:block th:each="obj, countObj : ${list}">
                  <div th:if="${obj.classLvlCd eq '1'}" onclick="fn_a('${obj.catgryCd}')">
                    <ul>
                      <li><input type="text" th:name="'upCatgryCd'+${countObj.index}" th:value="${obj.catgryCd}" /></li>
                      <li><input type="text" th:name="'upCatgryNm'+${countObj.index}" th:value="${obj.catgryNm}" /></li>
                      <li><input type="text" th:name="'upNoteCont'+${countObj.index}" th:value="${obj.noteCont}" /></li>
                      <input type="hidden" th:name="'upCateType'+${countObj.index}" th:value="'cateUpdate'"/>
                      <input type="hidden" th:name="'upGoodsCataSeq'+${countObj.index}" th:value="${obj.goodsCataSeq}"/>
                      <li>
                        <select th:name="'upUseYn'+${countObj.index}">
                          <option th:selected="${obj.useYn eq 'Y'}" value="Y">사용</option>
                          <option th:selected="${obj.useYn eq 'N'}" value="N">사용안함</option>
                        </select>
                      </li>
                      <li>
                        <input type="button" class="btn_del"
                               value="삭제하기"
                               th:attr="onclick='fnDel(this, \'' + ${obj.goodsCataSeq} + '\', \'' + ${obj.classLvlCd} + '\');'"/>
                      </li>
                    </ul>
                  </div>
                </th:block>
              </div>
              <div class="items">
                <span class="plus" id="upper_btn_add">+</span>
              </div>
            </div>
            <div class="under-category">
              <div class="items_header">
                <span>분류 코드</span>
                <span>분류 명</span>
                <span>비고 내용</span>
                <span>사용 여부</span>
                <span>삭제</span>
              </div>
              <div class="items">
                <th:block th:each="obj, countObj : ${underList}">
                  <div th:if="${obj.classLvlCd eq '2'}">
                    <ul>
                      <li><input type="text" th:name="'unCatgryCd'+${countObj.index}" th:value="${obj.catgryCd}" /></li>
                      <li><input type="text" th:name="'unCatgryNm'+${countObj.index}" th:value="${obj.catgryNm}" /></li>
                      <li><input type="text" th:name="'unNoteCont'+${countObj.index}" th:value="${obj.noteCont}" /></li>
                      <input type="hidden" th:name="'unCateType'+${countObj.index}" th:value="'cateUpdate'"/>
                      <input type="hidden" th:name="'unGoodsCataSeq'+${countObj.index}" th:value="${obj.goodsCataSeq}"/>
                      <li>
                        <select th:name="'unUseYn'+${countObj.index}">
                          <option th:selected="${obj.useYn eq 'Y'}" value="Y">사용</option>
                          <option th:selected="${obj.useYn eq 'N'}" value="N">사용안함</option>
                        </select>
                      </li>
                      <li>
                        <input type="button" class="btn_del"
                               value="삭제하기"
                               th:attr="onclick='fnDel(this, \'' + ${obj.goodsCataSeq} + '\', \'' + ${obj.classLvlCd} + '\');'"/>
                      </li>
                    </ul>
                  </div>
                </th:block>
              </div>
              <div class="items">
                <span class="plus" id="under_btn_add">+</span>
              </div>
            </div>
          </div>
          <div class="save-button">
            <input type="submit" value="저장"/>
          </div>
        </form>

      </div>
</section>
      <script>
        let upperTextCnt = 0 + Number('${upperListSize}');
        let underTextCnt = 0 + Number('${underListSize}');
        let btnCnt = 0;
        let classCd = '';
        let underCnt = 0;

        document.addEventListener("DOMContentLoaded", () => {
          let upper_btn_add = document.querySelector('#upper_btn_add');
          let under_btn_add = document.querySelector('#under_btn_add');
          let upper_items_area = document.querySelector('.upper-category .items');
          let under_items_area = document.querySelector('.under-category .items');
          let htmlInput = fn_getHtmlInput();

          upper_btn_add.addEventListener('click', ()=>{
            btnCnt = upperTextCnt;
            classCd = '1';
            upper_items_area.innerHTML += fn_getHtmlInput();
            upperTextCnt++;
          });

          under_btn_add.addEventListener('click', ()=>{
            btnCnt = underTextCnt;
            classCd = '2';
            under_items_area.innerHTML += fn_getHtmlInput();
            underTextCnt++;
          });
        });
        function fn_getHtmlInput(){
          let html = ''
                  +'<div><ul>'
                  +   '<li><input type="text" id="CatgryCd'+btnCnt+'" name="CatgryCd'+btnCnt+'" placeholder="분류코드"/></li>'
                  +   '<li><input type="text" name="CatgryNm'+btnCnt+'" placeholder="분류명"/></li>'
                  +   '<li><input type="text" name="NoteCont'+btnCnt+'" placeholder="비고내용"/></li>'
                  +   '<input type="hidden" name="ClassLvlCd'+btnCnt+'" value="'+classCd+'"/>'
                  +   '<input type="hidden" name="CateType'+btnCnt+'" value="cateInsert"/>'
                  +   '<li>'
                  +      '<select name="UseYn'+btnCnt+'">'
                  +         '<option value="Y">사용</option>'
                  +         '<option value="N">사용안함</option>'
                  +      '</select>'
                  +   '</li>'
                  +   '<li><input type="button" class="btn_del" value="삭제하기" onclick="fnDel(this);" /></li>'
                  +'</ul></div>'
          ;
          return html;
        }


        function fn_a(catgryCd){
          fetch('/adm/cate/admCateListAjax.do?catgryCd=' + catgryCd)
                  .then(response => response.json())
                  .then(data => {
                    // 여기서 data 변수에는 서버에서 받은 JSON 데이터가 있음
                    // 이 데이터를 사용하여 원하는 동적인 화면 구성을 JavaScript로 수행해야 함
                    // 예를 들어, 받은 데이터를 이용하여 동적으로 HTML을 생성하여 화면에 추가하는 등의 작업을 수행해야 함
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
        }
        function fnDel(_this, goodsCataSeq , classLvlCd){
          if(goodsCataSeq == null){
            _this.parentNode.parentNode.parentNode.remove();
          }else {
            if(classLvlCd == "1" && 0 < underTextCnt){
              alert("하위 카테고리가 있습니다.");
            }else if(confirm('상품을 정말 삭제 하시겠습니까?')){
              _this.parentNode.parentNode.parentNode.remove();
              location.href = '/adm/cate/admCateRemoveAct.do?goodsCataSeq='+goodsCataSeq;
            }
          }
        }
        function fn_submitCheck(){
          /* debugger; */
          let upperTextCnt_add = document.querySelector('#upperTxtCnt');
          let underTextCnt_add = document.querySelector('#underTxtCnt');

          upperTextCnt_add.value = upperTextCnt;
          underTextCnt_add.value = underTextCnt;

          return true;
        }
  </script>
  </div>
</th:block>
</html>