<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        table {
            width: 50%;
        }

        th {
            text-align: left;
        }

        td {
            text-align: left;
        }

        .item_list_area {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<section class="title_area">
    <h3 class="title">주문이 완료 되었습니다.</h3>
</section>
<section class="item_list_area">
    <table>
        <colgroup>
            <col width="50%"/>
            <col width="50%"/>
        </colgroup>
        <tr>
            <th>상품 명 :</th>
            <td th:text="${orderDtlOne.prodName}"></td>
        </tr>
        <tr>
            <th>결제 금액 : </th>
            <td th:text="${#numbers.formatInteger(orderOne.payMny, 0, 'COMMA')} + '원'"></td>
        </tr>
        <tr>
            <th>배송지 :</th>
            <td th:text="${orderOne.acqrAddr} + ' (' + ${orderOne.acqrAddrDtl} + ')'"></td>
        </tr>
        <tr>
            <th>결제 수단 : </th>
            <td th:text="${orderOne.payWay}"></td>
        </tr>
    </table>
    <div class="btn_area">
        <button onclick="location.href='/main'">확인</button>
    </div>
</section>
</body>
</html>