a {
  color: #888888;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  text-align: center;
  padding: 20px;
}
.logo img {
  width: 300px;
}
.horizontal-menu {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.horizontal-menu li {
  display: inline;
  margin: 0 10px;
}

.horizontal-menu a {
  text-decoration: none;
}

.slider-container {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider .slide {
  width: 100%;
  height: 400px;
  display: none;
}

.slider img {
  width: 100%;
  height: 400px;
  transition: transform 0.5s ease;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
}

.slider-button-prev {
  left: 10px;
}

.slider-button-next {
  right: 10px;
}

.recommendation-text {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  font-weight: bold;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-grid img {
  width: 20%;
  margin: 5px;
}

.login-text {
  position: absolute;
  top: 10px;
  right: 10px;
  color: blue;
  cursor: pointer;
}

.img_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img_area > div {
  width: 18%; /* 조절 가능한 너비 */
  margin: 10px 0; /* 이미지 간격 조절 가능 */
  position: relative;
}

.img_area img {
  width: 100%;
  height: 100%; /* 이미지 크기를 부모 컨테이너에 맞게 설정 */
  object-fit: cover; /* 가로 세로 비율 유지하며 이미지 크기 조절 */
  border: 1px solid #111;
}

.txt_area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8); /* 배경 색상 및 투명도 조절 가능 */
  padding: 8px;
  text-align: center;
}

.item_name {
  font-weight: bold;
  font-size: 14px; /* 제목 글꼴 크기 조절 가능 */
}

.item_price {
  font-size: 12px; /* 가격 글꼴 크기 조절 가능 */
  color: #ff0000; /* 가격 글꼴 색상 조절 가능 */
}

.dim {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease; /* 투명도 변화 애니메이션 속성 */
}

.img_area > div:hover .dim {
  opacity: 0.5;
}