<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="/css/product.css" rel="stylesheet">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<!-- 상품 메인 -->
<section id="product_main">
    <div class="product_image">
        <img alt="메인이미지" th:src="${rvo.prodImg} + ${rvo.prodImgDtl}" width="348" height="349">
    </div>
    <div class="product_main_detail">
        <h3 th:text="${rvo.prodName}"></h3>
        <h2>
            <span th:text="${#numbers.formatInteger(rvo.prodPrice, 0, 'COMMA')} + '원'"></span>
        </h2>
        <h5>배송비 <span th:text="2000"></span>원</h5>
        <!-- <h5>리뷰정보 718개 <a href="#">리뷰 보기</a></h5> -->
        <select name="colorOption" id="colorOption">
            <option value="">[컬러] 옵션을 선택하세요.</option>
            <option value="흰색">흰색</option>
            <option value="검정색">검정색</option>
            <option value="회색">회색</option>
            <option value="파란색">파란색</option>
        </select>
        <select name="sizeOption" id="sizeOption">
            <option value="">[사이즈] 옵션을 선택하세요.</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>
<!--        <h3 th:text="'총 상품 금액 ' + ({#numbers.formatInteger(rvo.prodPrice, 0, 'COMMA')}) + '원'"></h3>-->
        <button class="product_main_detail_button_mid" onclick="fn_order()">바로구매</button>
    </div>
</section>
</html>