<!DOCTYPE html>
<html>
<head>
    <title>moda</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
<!--default menu start-->
<div id="wrapper">
    <div class="logo">
        <img th:onclick="'location.href=\'/main\''" src="/images/logo.png" alt="로고 이미지" style="cursor: pointer">
    </div>

    <div class="login-text">
        <div th:if="${uId}">
            <span th:text="${uId} + '님 환영합니다.'" id="hello_user" style="cursor:default;"></span>
            <input th:onclick="'location.href=\'/moda/logout\''" id="logout_btn" type="image" class="w70" alt="Submit"
                   width="50" height="25" src="/images/icon_logout.png"/>
        </div>
        <div th:if="${uId == null}">
            <input th:onclick="'location.href=\'/moda/login.do\''" type="image" class="w70" id="login_btn" alt="Submit"
                   width="50" height="25" src="/images/icon_login.png"/>
        </div>
    </div>

    <!-- 가로 메뉴 -->
    <ul class="horizontal-menu">
        <li><a href="/product/itemlist">모든 상품</a></li>
        <li><div class="dropdown">
            <a class="dropbtn">
                <span class="dropbtn_icon">카테고리</span>
            </a>
            <div class="dropdown-content">
                <ul>
                    <li th:each="category : ${categoryList}">
                        <a th:text="${category.catgryNm}"></a>
                        <ul th:if="${category.subCate != null and not #lists.isEmpty(category.subCate)}">
                            <li th:each="subcategory : ${category.subCate}">
                                <a th:href="@{/product/itemlist( category=${subcategory.catgryNm} )}"
                                   th:text="${subcategory.catgryNm}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div></li>
        <li><a href="#">장바구니</a></li>
        <li>
            <a th:if="${uAdmin == '0'}" th:onclick="'location.href=\'/moda/main/mypage.do\''" style="cursor: pointer">마이페이지</a>
            <a th:if="${uAdmin == '1'}" onclick="openAdminPage()">관리자페이지</a>
        </li>
    </ul>
    <!--default menu end-->

    <p class="recommendation-text">카테고리 상품</p>

    <!-- Thymeleaf 반복문을 이용하여 이미지를 동적으로 추가 -->
    <div th:if="${mainHomeList != null and #lists.size(mainHomeList) gt 0}" class="img_area">
        <div th:each="item, iterStat : ${mainHomeList}" th:if="${iterStat.index lt 10}">
            <a th:href="@{/product/prodDetail.do(code=${item.prodCode})}">
                <img th:src="${item.prodImg} + ${item.prodImgDtl}">
                <div class="txt_area">
                    <div class="item_name" th:text="${item.prodName}"></div>
                    <div class="item_price">
                        <span class="color_red"
                              th:text="${#numbers.formatInteger(item.prodPrice, 0, 'COMMA')} + '원'"></span>
                    </div>
                </div>
                <div class="dim"></div>
            </a>
        </div>
    </div>

    <div th:if="${mainHomeList == null or #lists.size(mainHomeList) == 0}">
        <div class="img_a">데이터가 없습니다.</div>
    </div>
</div>
<footer>
    <div class="footer-main">
        <hr>
        <div class="footer-links">
            <div class="right-aligned-links">
                <a href="#">개인정보처리방침</a>
                <a href="#">서비스이용약관</a>
                <a href="#">청소년 보호정책</a>
                <a href="#">사업자정보확인</a>
                <a href="#">구매안전서비스 가입사실확인</a>
            </div>
        </div>
        <div class="footer-info">
            <div class="company-info">
                <p class="sub">주식회사 MODA</p>
                <p class="decs">대표이사 : 000<br>
                    00도 00시 00구 000 000 0동 00호<br>
                    (00동, 0000000)<br>
                    사업자등록번호 : 000-00-00000<br>
                    통신판매업 신고번호 : 제0000-00000-0000호<br>
                    개인정보관리책임자 : 000</p>
            </div>
            <div class="customer-center">
                <p class="sub">고객센터</p>
                <p class="decs">대표전화 : 0000-0000<br>
                    운영시간 : AM 00:00 ~ PM 00:00 (0-0)<br>
                    점심시간 : PM 00:00 ~ PM 00:00 (주말 및 공유일 휴무)<br>
                    이메일 : 0000000@000000.000</p>
            </div>
        </div>
    </div>
</footer>
<!-- JavaScript 코드 추가 -->
<script th:inline="javascript">

    window.onload = function () {
        var uId = /*[[${uId}]]*/;
        var uAdmin = /*[[${uAdmin}]]*/;
        sessionStorage.setItem('uId', uId);
        sessionStorage.setItem('uAdmin', uAdmin);
    }

    function fn_ajax(obj) {
        let url = obj.url;
        let method = obj.method;
        let params = obj.params;
        let fn_success = obj.success;

        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            alert('XMLHTTP 인스턴스를 만들 수가 없어요 ㅠㅠ');
            return false;
        }
        httpRequest.onreadystatechange = () => {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    let res = httpRequest.responseText;
                    fn_success(JSON.parse(res));
                } else {
                    console.log(`code: ${httpRequest.status}`);
                    console.log(`message: ${httpRequest.responseText}`);
                    alert('request에 뭔가 문제가 있어요.');
                }
            }
        };
        httpRequest.open(method, url);
        /* httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); */
        if (method == 'get' || method == 'GET') {
            httpRequest.send();
        } else {
            httpRequest.setRequestHeader('Content-Type', 'application/json');
            httpRequest.send(params);
        }
    }

    //뒤로가기 못하게 하는 로직
    window.history.pushState(null, "", window.location.href);
    window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
    };

    //관리자 페이지를 새탭에서 열기
    function openAdminPage() {
        window.open('/adm/product/prodList.do', '_blank');
    }


</script>
</body>
</html>